<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Slack</title>
  </head>
  <body>
    <main>
      <div class="container">
        <ul>
          <li class="channell"><span># general</span></li>
          <li class="channell"><span># random</span></li>
          <li><i class="fas fa-plus"></i>チャンネルを追加する</li>
        </ul>
        <div class="right-content">
          <div class="messages"></div>
          <div class="typing"></div>
          <form action="" id="form-message">
            <input type="text" id="input-message" required />
            <button type="submit">submit</button>
          </form>
        </div>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/client.js"></script>
  </body>
</html>
