* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// top.ejs
.container {
  display: flex;
  height: 100%;

  .left-content {
    flex: 1;
    height: 100vh;
    background-color: #3f0e40;
    padding: 20px;

    .link {
      display: block;
      text-decoration: none;
      color: rgb(207, 195, 207);
      padding: 5px;
      &:hover {
        background-color: #2b032c;
      }
    }
  }

  .right-content {
    flex: 4;
    padding: 15px;

    .messages {
      p {
        padding: 10px;
      }
    }

    form {
      input {
        width: 90%;
        padding: 10px;
      }
      button {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
      }
    }
  }
}
