* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 38px;
  background-color: #350d36;
}

header div {
  height: 28px;
  text-align: center;
}

header div button {
  height: 24px;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 7px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header div button:hover {
  background-color: rgba(255, 255, 255, 0.23);
}

header div button i {
  margin-right: 1em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 38px;
  height: 100%;
}

.container .sidebar {
  width: 25%;
  height: 100vh;
  background-color: #3f0e40;
  font-size: 0.9em;
  overflow: scroll;
  color: #cfc3cf;
}

.container .sidebar p {
  margin-top: 20px;
}

.container .sidebar p span {
  margin-left: 20px;
  font-size: 16px;
}

.container .sidebar ul li {
  word-break: break-all;
  padding: 5px 0;
  cursor: pointer;
}

.container .sidebar ul li:hover {
  background-color: #2b032c;
}

.container .sidebar ul li.selected {
  background-color: #1164a3;
}

.container .sidebar ul li span {
  pointer-events: none;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}

.container .sidebar ul li i {
  margin: 0 5px 0 20px;
}

.container .right-content {
  width: 75%;
  height: 100vh;
  overflow: scroll;
  padding: 15px;
}

.container .right-content .messages .message {
  margin-top: 10px;
}

.container .right-content .messages .message:hover {
  background-color: #f8f5f5;
}

.container .right-content .messages .message:last-of-type {
  margin-bottom: 90px;
}

.container .right-content .messages .message p {
  font-size: 0.9em;
  padding: 0 10px 10px 10px;
  word-wrap: break-word;
}

.container .right-content .messages .message span {
  margin-left: 10px;
}

.container .right-content .messages .message span:first-of-type {
  font-weight: bold;
  font-size: 0.9em;
}

.container .right-content .messages .message span .iconify {
  cursor: pointer;
  background-color: #f6f3f3;
  border: 1px #aaa solid;
  border-radius: 5px;
  height: 20px;
  width: 30px;
}

.container .right-content .messages .message span .iconify:hover {
  background-color: #fefefe;
}

.container .right-content .messages .message time {
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: lighter;
}

.container .right-content .messages .message img {
  margin-left: 10px;
  height: 18px;
}

.container .right-content form {
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 70%;
}

.container .right-content form input {
  width: 90%;
  outline: none;
  padding: 10px;
}

.container .right-content form input#file {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 350px;
}

.container .right-content form button {
  background-color: white;
  border-radius: 10px;
  border: #2b032c 1px solid;
  padding: 10px;
  cursor: pointer;
}

.container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.container .modal#modal1 form {
  text-align: left;
}

.container .modal#modal1 form input {
  width: 100%;
  outline: none;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
}

.container .modal#modal1 form .submit-btn {
  text-align: right;
}

.container .modal#modal1 form .submit-btn button {
  text-align: right;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #dddddd;
}

.container .modal#modal2 .modal-content {
  width: 20%;
}

.container .modal#modal2 .modal-content .stamp {
  text-align: left;
}

.container .modal#modal2 .modal-content .stamp img {
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.container .modal#modal2 .modal-content .stamp img:hover {
  background-color: rgba(155, 223, 88, 0.7);
}

.container .modal#modal3 .modal-content {
  width: 50%;
  z-index: 2;
  margin-top: 0;
  top: 0;
  padding: 0 0 0 30px;
  text-align: left;
}

.container .modal#modal3 .modal-content .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .modal#modal3 .modal-content .search-input label {
  line-height: 38px;
}

.container .modal#modal3 .modal-content .search-input input {
  border: none;
  outline: none;
  width: 95%;
  height: 38px;
  padding: 5px 15px;
}

.container .modal#modal3 .modal-content .search-input datalist {
  width: 100%;
  background-color: white;
}

.container .modal .modal-content {
  width: 50%;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  text-align: right;
}

.container .modal .modal-content .close {
  width: 28px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.container .modal .modal-content .close:hover, .container .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .container .right-content form input {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .container .right-content form {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */