<h1>Sign in</h1>
<form action="/users/signin" method="post">
  <label>
    <p>メールアドレス</p>
    <input type="email" name="email" />
  </label>
  <label>
    <p>パスワード</p>
    <input type="password" name="password" />
  </label>
  <input type="submit" value="送信" />
</form>
